/* parallax page index.php */

/* Header Parallax Element Style*/
.paral {
    min-height: 683px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

/* Paragraph for Parallax Section */
.paral p {
    font-size: 24px;
    color: #f5f5f5;
    text-align: center;
    line-height: 60px;
}

/* Heading for Parallax Section */
.paral h2 {
    color: rgba(255, 255, 255);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
}

/* Image for Parallax Section */
.paralsec {
    background-image: url("../img/index/seminaire.jpg");
}

.paralsec1 {
    background-image: url("../img/index/ob.jpg");
    
}

.paralsec2 {
    background-image: url("../img/index/pride.jpg");
}

.paralsec3 {
    background-image: url("../img/index/scene_mathilde.jpg");
}

/* Add more images for more sections */


/* Remove Bottom Margin from Jumbotron */
.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
}

/* style pour la selection de tous les textes */
::selection {
    color: rgb(255, 255, 255);
    background-color: #ffad3f;
} 


/* styles general */

h2 {
    font-family: 'Quicksand', cursive;
    color: black;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: black;
}

.brl {
    border-right: #ffad3f 2px solid;
    padding-right: 5px;

}

#navBar {
    padding-bottom: 0;

}

.ombre {
    background-color: white;
    background-image: url(../img/ombre.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.col-md-9 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.container-fluid {

    padding: 0px;
}

.Artiste {
    border-radius: 50%;
    border: 4px solid #FFAD3F;
    padding: 4px;
    max-height: 10em;
    transition-duration: 0.3s;
}

.Artiste:hover {

    border: 4px solid black;
    padding: 0px;

    transition-duration: 0.3s;
}

h1,
a,
li,
h5 {

    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;

}

.pagetitre {
    font-family: 'Quicksand', cursive;
    color: #3e3a3a;
    border-bottom: #212529 2px solid;
}

#titre {
    font-family: 'Concert One', sans-serif;
    text-align: center;
    text-transform: none;
    font-size: 1.7rem;
    color: #FFAD3F;
    text-transform: uppercase;
}

p {
    font-family: 'Quicksand', sans-serif;
}

.sur-orange {
    font-weight:bold;
    color: rgb(255, 255, 255);
    background-color: #ffa632ad;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.sur-noir {
    color: rgb(255, 255, 255);
    background-color: #000000a8;
    font-weight:bold;
    color: rgb(255, 255, 255);
  
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

/* mes bouttons personnalisés */
.button {
   background:#ffa632ad;
   padding: 15.5px 31px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: white;
   font-size: 19px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   background: #ffac3f;
   color: rgb(255, 255, 255);
   text-decoration:none;
 
   }
.button:active {
   border-top-color: #b37320;
   background: #b37320;
   }



/* page action */
blockquote {
    font-family: 'Quicksand';   
    font-style: italic;
    font-size:1.5em;
    background:url(right-quote.gif) no-repeat right bottom;    
    color:#b37420;   
}

blockquote:first-letter {
    background:url(left-quote.gif) no-repeat left top;
    font-size:2em;
}



/* page collaboration */
.merci {
    font-family: 'Concert One', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;

}

.nav-link:hover {
    color: #FFAD3F !important;
    text-transform: uppercase;
}

.nav-item.active {

    border-bottom: #FFAD3F 3px solid;
}


.marge {
    margin-right: -15px;
    margin-left: -15px;
}

ul {
    list-style-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6a/External_link_font_awesome.svg");
    padding-left: 10px;
    
}

/* 
-------%media sociaux--------------------- */
.black {

    height: 40px;
    background-color: black;
    padding-top: 0.2%;
}

.yellow {

    height: 40px;
    background-color: #ffad3f;
    padding-top: 0.2%;
}

.bgyellow {
    background-color: #db8d0069;
}

/* .bgblack{
   background-color: black;
} */
.imgSocialmedia {
    max-width: 40px;
}

/* 
-------%media sociaux--------------------- */

/* About.html */
.textAbout {
    padding: 20px;

}

footer {
    background-color: #151414;
    color: white;
}

.imgAbsolu {
    margin-top: -3.3%;
    z-index: 800;
    position: absolute;
    margin-left: -6%;
    width: 10%;
}


.w-100revis {
    width: 104% !important;
}

header {
    overflow: hidden;
}

.police1 {
    font-family: 'Quicksand', sans-serif;
}

/* .police2{

} */




.link {
    color: grey !important;
    text-decoration: none;
}

.link:hover {
    text-decoration: none;
    color: #b37420 !important;
}

.footlink {
    color: grey !important;
    text-decoration: none;
    width: max-content;
}

.footlink:hover {
    text-decoration: none;
    color: #b37420 !important;
    width: max-content;
}

.colorpolice {
    color: #b37420 !important;
}

.colorpolice2 {
    color: grey !important;
}

.lignefooter {
    background-color: #ffad3f !important;
    height: 2px;
}

.disap {
    visibility: visible;
}




@media screen and (max-width: 1100px) {
    h3 {
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        color: black;
        font-size: 1em;
    }

    h4 {
        font-size: 1em;
    }

    .disap {
        visibility: hidden;
    }

}

@media screen and (max-width: 640px) {
    h3 {
        font-family: 'Quicksand', sans-serif;
        text-transform: uppercase;
        color: black;
        font-size: 1em;
    }

    h4 {
        font-size: 1em;
    }

    .footlink {
        font-size: 0.7em;
        width: min-content;
    }

    .footlink:hover {
        font-size: 0.7em;
        width: min-content;
    }

    .disap {
        visibility: hidden;
    }

}
