li {
    border: none!important;
}

img {
    border: none!important;
}

@media only screen and (min-width: 976px){
    .large{
           display: none;
    }
}
@media only screen and (max-width: 976px){
    .small{
           display: none;
    }
}


.container-fluid
    {
background-color: rgba(255, 255, 255, 0.788);
    }


h1,a,li,h5 {
    
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Quicksand', sans-serif;
}

/* .nav-link:link {
    background-color: #FD9C18;
} */



.nav-link:hover {
    background-color: #FFAD3F;
    text-transform: uppercase;
}

.nav-item.active {
    background-color: #FFAD3F;
}